@import (reference) "./main.less";
@import (reference) "./Icons.less";

.omni-sendForm{
    background: @material-ui-bg;
    border-radius: 10px;  
    margin-bottom: 20px;
    padding:10px 0px;
    .sendForm-row{
        display: flex;
        .sendForm-col{ 
            padding: 0px 20px 10px 20px;
            >div:first-child{
                margin: 5px 0px;
                color: @white;
            }
        }
        .col-12{ 
            width:100%;
        }
        .col-6{
            width:50%; 
        }
        .col-4{
            width:40%; 
        }
        .col-8{
            width:60%; 
        }
    } 
    
}
.omni-assets-name{
    padding: 15px;
    font-size: 16px;
    span{
        margin-right: 20px;
        font-weight: bold;
    }
}
.omni-send-button-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 20px;
    >:first-child{
        p{
            margin:5px 0px;
            color: #7d6986; 
        } 
        .omni-send-error{
            color:red;
        } 
    }
    .omni-send-buttons{
        >div{
            margin-right: 15px;
        }
    }
    
}