@import (reference) "./main.less";
@import (reference) "./Icons.less";

.receive-content-nest {
  // background-color: @darkGrey;
  padding: 1em 0;
}

// .receive-content-nest-for-address {
// }

.receive-content-nest-for-address {
  padding: 1em 0;
  display: flex;
}
.receive-content-nest-prefix {
  .inline-block-mixin;

  padding-top: 10px !important;
  vertical-align: top;
  font-size: 16px;
  flex: 0 0 20%;
  text-align: left;
  margin-right: 0;
  font-family: @font-family-JuraBold;
}

.receive-select-account-input {
  .inline-block-mixin;

  width: 100%;
}

.receive-content-nest-qr {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.receive-content-nest-qrhash {
  .inline-block-mixin;

  padding: 2.5em;
  border-radius: 10px;
  background-color: @white;
  background-image: url('../style/images/ewm_link_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}

.receive-content-nest-qrimage {

  .inline-block-mixin;
  fill: @white;
  width: 140px;
  height: 140px;
  float: right;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  path {
    fill: #451c62;
  }
}

.receive-toolbar {
  margin-top: 1em;
  text-align: center;
}

.receive-header-title {
  height: 54px;
  line-height: 49px;
  color: @grey;
  font-size: 27px;
  text-transform: capitalize;
  padding-left: 50px;
  background-image: @plus-big-icon;
  background-position: 0px 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.receive-header-meta {
  height: 54px;
  width: 480px;
  padding-left: 50px;
  color: @white;
  font-size: 14px;
}

.receive-content-nest-copy-to-clipboard-icon {
  margin-left: 16px;
}
